appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
bs4==0.0.1
certifi==2016.9.26
decorator==4.0.10
docutils==0.12
enum34==1.1.6
gluish==0.2.7
ipython==5.1.0
ipython-genutils==0.1.0
lockfile==0.12.2
luigi==2.3.3
mwclient==0.8.2
oauthlib==2.0.0
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
Pygments==2.1.3
python-daemon==2.1.2
python-dateutil==2.6.0
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
wikitools==1.3
