body {
    background: #fff;
}

.entry {}

ul, li {
    list-style: none;
}

em {
    background: yellow;
}

.item {
    background: #efefef;
    padding: 10px;
}

.fulltext {
    color: #707070;
}



.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

